.btn{
  background: #222;
  color: #ffdd22;
  padding: .7em 1em;
  cursor: pointer;
  border: 0;
  border-radius: .5em;
  transition: .4s;
  font-size: 1em;
  text-decoration: none;
}
.btn:hover{
  background: #ffdd22;
  color: #222;
}