.btn{
  display: flex;
  gap: .4em;
  align-items: center;
  background: transparent;
  border: 1px solid #222;
  padding: .2em .5em;
  cursor: pointer;
  text-decoration: none;
  color: #222;
}
.btn:hover{
  color: #ffdd22;
  background: #222;
}