.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
.card{
  border: 1px solid rgb(var(--gray), .3);
  padding-bottom: .5em;
}
.card p{
  padding: 0 .4em;
  font-size: .9em;
  margin-top: .6em;
}
.card p hr{
  border: none;
  background: rgb(var(--gray), .3);
  height: 1px;
}
.card h1{
  background: rgb(var(--gray));
  color: rgb(var(--orange));
  font-size: 1.2em;
  padding: .2em .4em;
}

.category{
  display: flex;
  align-items: center;
  gap: .4em;
}
.category span{
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.category .infra{
  background: rgb(var(--infrastructure));
}
.category .desenvolvimento{
  background: rgb(var(--development));
}
.category .design{
  background: rgb(var(--design));
}
.category .planejamento{
  background: rgb(var(--planning));
}

.actions{
  display: flex;
  justify-content: flex-end;
  gap: .5em;
}
.footer{
  border-top: 1px solid rgba(var(--gray), .4);
  margin-top: .7em;
}