.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.home header{
  text-align: center;
}
.home header h1 span{
  color: rgb(var(--orange));
}

.home img{
  max-width: 400px;
}